#container {
    width: 100%;
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#article_header {
    padding: 10px 10px;
    text-align: left;
    line-height: 1.5;
    width: 100%;
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid green;
    border-left-width: 5px;
    border-radius: 10px;
    border-right-width: 5px;
    background-position: left center;
    display: inline-block;
    box-sizing: border-box;
}

#article_summary {
    padding: 10px 10px;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #d5d5d5;
    border-left-width: 5px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    /*background-position: left center;*/
    width: 100%;
    max-width: 90%;
    background-color: #d5d5d5;
}

#article_detail {
    padding: 10px 10px;
    text-align: left;
    line-height: 1.5;
    border-left-width: 5px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    /*background-position: left center;*/
    width: 100%;
    max-width: 90%;
    background-color: whitesmoke;
}