.comment-box-area {
    border: 1px solid #f0e9df;
    background-color: #dbdbdb;
}

.txt-huifu-top {
    font-size: 12px;
    resize: none;
    height: 40px;
    width: 85%;
    min-height: 20px;
    padding: 4px 2px 0;
    line-height: 18px;
    overflow: auto;
    outline: 0;
    *display: block;
}

.txt-huifu {
    height: 32px;
    min-height: 32px;
}

.discuss-name{
    display: block;
}