{% extends 'backend/layout.html' %}
{% load search %}
{% block css %}
<style>
    .conditions a{
        display: inline-block;
        padding: 2px 5px;
        margin-left: 5px;
    }
    .conditions a.active{
        background-color: #b35215;
        color: #ffffff;
    }

.upload{
            display: inline-block;
            padding: 10px;
            background-color: #3b8cff;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 90;
            width: 90px;
            height: 30px;
        }

        .file{
            width: 90px;
            height: 30px;
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            line-height: 30px;
            z-index: 100;
        }
</style>
{% endblock %}
{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/backend/article-0-0.html">文章管理</a></li>
        <li class="active">文章列表</li>
    </ol>
    <div>

        <div style="border: 1px dashed #dddddd;padding: 8px;border-left: 3px solid #337ab7;">
            <i class="fa fa-search" aria-hidden="true"></i> 搜索条件
        </div>
        <div style="padding: 10px">
            <div class="conditions row clearfix" style="margin: 0;padding: 8px 0;">
                <div class="col-xs-1" style="text-align: right">
                    {% category_all arg_dict %}
                </div>
                <div class="col-xs-11">
                    {% category_combine category_list arg_dict %}
                </div>
            </div>
            <div class="conditions row clearfix" style="margin: 0;padding: 8px 0;">
                <div class="col-xs-1" style="text-align: right">
                    {% article_type_all arg_dict %}
                </div>
                <div class="col-xs-11">
                    {% article_type_combine type_list arg_dict %}
                </div>
            </div>
        </div>
        <div class="clearfix"
             style="height: 36px;line-height: 35px;padding: 0 15px;border-top: 1px solid #dddddd;background-color: #f1f0f0">
            <i class="fa fa-table" aria-hidden="true"></i>
            搜索文章({{ data_count }}篇)
            <a  href="/backend/add-article.html" class="right"
               style="display: inline-block;padding:0 10px;background-color: #428bca;color: #ffffff;">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                创建新文章
            </a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>文章标题</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for row in result %}
                <tr nid="{{ row.id }}">
                    <td><a href="/{{ row.blog.site }}/{{ row.id }}.html">{{ row.title }}</a></td>
                    <td>
{#                        <a class="btn btn-danger btn-xs del-article">#}
{#                            <i class="fa fa-times" aria-hidden="true"></i>#}
{#                            删除#}
{#                        </a>#}
{#                        |#}
                        <a class="btn btn-primary btn-xs" href="/backend/edit-article-{{ row.id }}.html">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            编辑
                        </a>
                        |
                        {% if row.is_set_top == 1 %}
                            <a class="btn btn-primary btn-xs set-top">
                                <i class="fa fa-level-up" aria-hidden="true"></i>
                                取消顶置
                            </a>
                        {% else %}
                            <a class="btn btn-danger btn-xs set-top">
                                <i class="fa fa-level-up" aria-hidden="true"></i>
                                顶置
                            </a>
                        {% endif %}
                    |
                        {% if row.is_publish == 1 %}
                            <a class="btn btn-primary btn-xs publish-blog">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                取消发布
                            </a>
                        {% else %}
                            <a class="btn btn-danger btn-xs publish-blog">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                发布
                            </a>
                        {% endif %}
{#                        |#}
{#                        <a class="btn btn-primary btn-xs" >#}
{#                            <i class="fa fa-file-image-o file" aria-hidden="true" style="z-index: 100"></i>#}
{#                            上传列表图片#}
{#                            <input type="file" value="1" style="z-index: 90">#}
{#                        </a>#}
{#                        |#}
{#                        <a class="btn btn-primary btn-xs" >#}
{#                            <div style=" position: absolute">#}
{#                                <input class="file" type="file" name="upload_file" name="filename" id="filename">#}
{#                                <button class="upload">上传</button>#}
{#                            </div>#}
{#                        </a>#}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="clearfix">
            <ul class="pagination right" style="margin-top: 0">
               {{ page_str }}
            </ul>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        $('.del-article').click(function () {
            var nid = $(this).parent().parent().attr('nid');
            $.ajax({
                url: '/backend/del-article.html',
                type: 'POST',
                data: {'id': nid},
                dataType: 'JSON',
                success: function (arg) {
                    if(arg.status){
                        alert(arg.message);
                    }else {
                        alert(arg.message);
                    }
                }
            });
            location.href = '/backend/article-0-0.html';

        });

        $('.set-top').click(function () {
            var nid = $(this).parent().parent().attr('nid');
            $.ajax({
                url: '/backend/set-top.html',
                type: 'POST',
                data: {'id': nid},
                dataType: 'JSON',
                success: function (arg) {
                    if(arg.status){
                        alert(arg.message);
                    }else {
                        alert(arg.message);
                    }
                }
            });
            location.href = '/backend/article-0-0.html';

        });

        $('.publish-blog').click(function () {
                var nid = $(this).parent().parent().attr('nid');
                $.ajax({
                    url: '/backend/publish-blog.html',
                    type: 'POST',
                    data: {'id': nid},
                    dataType: 'JSON',
                    success: function (arg) {
                        if(arg.status){
                            alert(arg.message);
                        }else {
                            alert(arg.message);
                        }
                    }
                });
                location.href = '/backend/article-0-0.html';

            });
    </script>
{% endblock %}