<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/edmure.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    <link rel="stylesheet" href="/static/css/row-avatar.css">
    <link rel="stylesheet" href="/static/css/discuss.css">
    {% include 'include/favicon.html' %}

    <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
</head>
<body>
{% include 'include/header.html' %}

<div class="container" up_list="{{ up_list }}">
    <div>
        <div class="col-md-8">
            <div class="article-list">
            {% for row in top_article_list %}
                    <div class="article-item clearfix">
                        <h3>
                            <a href="/{{ row.blog.user.username }}/detail-{{ row.id }}.html"
                               id="title-{{ row.id }}" name="title{{ row.id }}">
                                {{ row.title }}
                            </a>
                            <i class="fa fa-level-up" aria-hidden="true"></i>
                        </h3>
                        <div class="clearfix">
                            <a class="avatar left" href="#">
                                <img src="{{ row.img_url }}">
                            </a>
                            {{ row.summary }}
                        </div>
                        <div class="footers" nid="{{ row.id }}">
                            <a href="#">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ row.blog.user.username }}</span>
                            </a>
                            <span>发布于 {{ row.create_time }}</span>
                            {#                            评论数#}
                            <a href="#" class="ele">
                                <i class="fa fa-commenting-o discus-a" aria-hidden="true"></i>
                                <span>{{ row.comment_count }}</span>
                            </a>
                            {#                            点赞数#}
                            <a href="javascript:void(0)" class="like-num ele" name="like-num">
                                {% if row.id in up_list %}
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                {% endif %}
                                {#                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
                                <span>{{ row.up_count }}</span>
                            </a>

                        </div>
                        <div id="comment-box-area-{{ row.id }}" class="footers comment-box-area" nid="{{ row.id }}">
                            <div>
                                {% for foo in comment_list %}
                                    {% if row.id == foo.article_id %}
                                        <ul>
                                            <a class="discuss-name" rid="{{ foo.id }}"
                                               name="{{ foo.user.username }}">{{ foo.user.username }}</a>：{{ foo.content }}

                                        </ul>
                                        <ul>
                                            <ul>
                                                {% for reply_item in reply_comment_list %}
                                                    {% if foo.id == reply_item.reply_id %}
                                                        <a class="discuss-name"
                                                           reply="{{ reply_item.user.username }}">{{ reply_item.user.username }}</a>
                                                        回复
                                                        <a class="discuss-name" rid="{{ foo.id }}"
                                                           name="{{ foo.user.username }}">{{ foo.user.username }}</a>:
                                                        {{ reply_item.content }}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </ul>
                                    {% endif %}

                                {% endfor %}
                            </div>
                            <textarea type="text" class="txt-huifu txt-huifu-top"></textarea>
                            <a class="btn btn-primary btn-xs discuss">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                评论
                            </a>
                        </div>

                    </div>
                {% endfor %}

                {% for row in article_list %}
                    <div class="article-item clearfix">
                        <h3>
                            <a href="/{{ row.blog.user.username }}/detail-{{ row.id }}.html"
                               id="title-{{ row.id }}" name="title{{ row.id }}">
                                {{ row.title }}
                            </a>
                        </h3>
                        <div class="clearfix">
                            <a class="avatar left" href="#">
                                <img src="{{ row.img_url }}">
                            </a>
                            {{ row.summary }}
                        </div>
                        <div class="footers" nid="{{ row.id }}">
                            <a href="#">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ row.blog.user.username }}</span>
                            </a>
                            <span>发布于 {{ row.create_time }}</span>
                            {#                            评论数#}
                            <a href="#" class="ele">
                                <i class="fa fa-commenting-o discus-a" aria-hidden="true"></i>
                                <span>{{ row.comment_count }}</span>
                            </a>
                            {#                            点赞数#}
                            <a href="javascript:void(0)" class="like-num ele" name="like-num">
                                {% if row.id in up_list %}
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                {% endif %}
                                {#                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
                                <span>{{ row.up_count }}</span>
                            </a>

                        </div>
                        <div id="comment-box-area-{{ row.id }}" class="footers comment-box-area" nid="{{ row.id }}">
                            <div>
                                {% for foo in comment_list %}
                                    {% if row.id == foo.article_id %}
                                        <ul>
                                            <a class="discuss-name" rid="{{ foo.id }}"
                                               name="{{ foo.user.username }}">{{ foo.user.username }}</a>：{{ foo.content }}

                                        </ul>
                                        <ul>
                                            <ul>
                                                {% for reply_item in reply_comment_list %}
                                                    {% if foo.id == reply_item.reply_id %}
                                                        <a class="discuss-name"
                                                           reply="{{ reply_item.user.username }}">{{ reply_item.user.username }}</a>
                                                        回复
                                                        <a class="discuss-name" rid="{{ foo.id }}"
                                                           name="{{ foo.user.username }}">{{ foo.user.username }}</a>:
                                                        {{ reply_item.content }}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </ul>
                                    {% endif %}

                                {% endfor %}
                            </div>
                            <textarea type="text" class="txt-huifu txt-huifu-top"></textarea>
                            <a class="btn btn-primary btn-xs discuss">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                评论
                            </a>
                        </div>

                    </div>
                {% endfor %}

            </div>

            <div class="clearfix">
                <ul class="pagination">
                    {{ page_str }}
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default hot-recommend">
                <div class="panel-heading">吐血推荐</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {% for foo in updown_list %}
                            <li>
                                <a href="/{{ foo.blog.user.username }}/detail-{{ foo.id }}.html">
                                    <b>{{ foo.title }}</b>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default hot-comment">
                <div class="panel-heading">在线用户 - {{ request.online_member_count }} 人在线</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>您的IP：{{ request.current_visitor_ip }}</li>
                        {#                        <li>{{ request.online_member_count }} 人在线</li>#}
                        {#                        <li>{{ request.user_list }}</li>#}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
<script>

    $('.like-num').click(function () {
        {#判断是否登录#}
        var username = $('#nickname').attr('name');
        if (username) {
            var nid = $(this).parent().attr('nid');
            {#var self = $(this);#}
            $.ajax({
                url: '/like-num.html',
                type: 'POST',
                data: {'nid': nid, 'username': username},
                dataType: 'JSON',
                success: function (arg) {
                    if (arg.status) {
                        {#self.children('i').removeClass('fa-thumbs-o-up');#}
                        {#self.children('i').addClass('fa-thumbs-up');#}
                    } else {
                        {#self.children('i').removeClass('fa-thumbs-up');#}
                        {#self.children('i').addClass('fa-thumbs-o-up');#}
                    }
                }
            });
            location.href = '/'
        } else {
            if (confirm('请先登录后再点赞！')) {
                location.href = '/login.html';
            }
        }

    });

    $('.discuss').click(function () {
        {#判断是否登录#}
        var username = $('#nickname').attr('name');
        if (username) {
            var nid = $(this).parent().attr('nid');
            var discussData = $(this).siblings('.txt-huifu').val();
            var replyID = $(this).siblings('.txt-huifu').attr('reply');
            var reqData = {'nid': nid, 'username': username, 'discuss_data': discussData};
            if (replyID) {
                reqData = {'nid': nid, 'username': username, 'discuss_data': discussData, 'reply_id': replyID}
            }
            {#console.log(nid, discussData);#}
            $.ajax({
                url: '/discuss.html',
                type: 'POST',
                data: reqData,
                dataType: 'JSON',
                success: function (arg) {
                    if (arg.status) {
                        {#self.children('i').removeClass('fa-thumbs-o-up');#}
                        {#self.children('i').addClass('fa-thumbs-up');#}
                    } else {
                        {#self.children('i').removeClass('fa-thumbs-up');#}
                        {#self.children('i').addClass('fa-thumbs-o-up');#}
                    }
                }
            });
            location.href = '/'
        } else {
            if (confirm('请先登录后再点赞！')) {
                location.href = '/login.html';
            }
        }

    });

    $('.discuss-name').click(function () {
        var replyID = $(this).attr('rid');
        var username = '回复: ' + $(this).attr('name');
        console.log(replyID, username);
        $(this).parent().parent().siblings('.txt-huifu').attr('placeholder', username);
        $(this).parent().parent().siblings('.txt-huifu').attr('reply', replyID);
        $(this).parent().parent().siblings('.txt-huifu').val('');
    });

</script>
</body>
</html>